/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background-color: #333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Main Container Styling */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Center Container Styling */
.center-container {
  height: auto;
  width: 350px;
  padding: 20px;
  background-color: #444;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

/* Heading Styling */
.app-heading {
  padding: 4px;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Input Container */
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Input Box Styling */
.input-box-todo {
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border: 1px solid black;
  padding-left: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 16px;
  font-family: inherit;
}

/* Add Button Styling */
.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #316fc1;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
}

.add-btn:active {
  box-shadow: none;
}

/* List Container Styling */
.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #555;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* List Item Styling */
.list-item {
  color: white;
  width: 75%;
  font-size: 16px;
  text-align: left;
}

/* Icons Styling */
.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.icons i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.icons i:hover {
  transform: scale(1.2);
}

.icon-delete:hover {
  color: red;
}

.icon-suggest:hover {
  color: #00ff00;
}

/* ApiKey Input Form Styling */
.api-key-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.api-key-input h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.api-key-input form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.api-key-input input {
  margin-bottom: 10px;
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border: 1px solid black;
  padding-left: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 16px;
}

.api-key-input button {
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border: none;
  background-color: #316fc1;
  color: white;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
}

.api-key-input button:active {
  box-shadow: none;
}
